<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
</head>

<body>
    <h1>Rex_Web首頁</h1>

    <h2>職員管理頁面</h2>
    <!-- onclick > 點擊後動作 -->
    <input type="button" onclick="location.href='/staff_Login/'" value="進入職員管理"><br>
    <h3>職員管理頁面架構與流程</h3>
    <input type="button" onclick="location.href='/staff_contral_erp_process_chart/'" value="點此進入流程圖"><br>

    <h2>資料擷取頁面</h2>
    <input type="button" onclick="location.href=''" value="進入資料擷取 - 空"><br>
    <h3>資料擷取架構與流程</h3>
    <input type="button" onclick="location.href=''" value="點此進入流程 - 空"><br>
</body>

</html>